config/root_path.py

result*/

wrong_img/*

wandb/*

del_img.ipynb

get_result.ipynb

test.ipynb

run_predict.sh

run_training.sh

run_train_predict.sh
predict_time.csv


nohup.out

# 忽略所有的 __pycache__ 文件夹
__pycache__/
**/__pycache__/